:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 1000px rgba(104, 104, 104, 0.8);
    }
    
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
body{
    background-color: rgb(0, 0, 0);
}
    /* Navigation */
.main-nav ul {
    background-color: var(--shadow);
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: auto auto auto auto;
  }
    
.main-nav a {
    background-color: black;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
    
.main-nav a:hover {
      background: black;
      color: silver;
      box-shadow: 5px 10px;
  }

.btn {    
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    font-size: 30px;
    text-decoration: none;
    border: 0;
}
.btn:hover {
    color: lightblue;
    background-color: var(--shadow);
}
h1 {
  color:lightblue;
  background-color: var(--shadow);

}
section {
    width: 100%;
    height: 100vh;
}

section#home {
    background-color:rgb(12, 10, 10);
    text-align: center;
}
section#home h1 {
    font-size: 80px;
    text-align: center;
    justify-content: center;
}


section#Resume{
    background-color: rgb(12, 10, 10); 
    text-align: center;
  }

section#Resume h1 {
    font-size: 60px;
    text-align: center;
    justify-content: center;
}

section#Resume a{
    text-decoration: none;
    justify-content: center;
    text-align: center;
}
section#Projects {
    background-color:rgb(0, 0, 0);
}

section#Projects h1{
    font-size: 60px;
    justify-content: center;
    text-align: center;
}
section#Contact{
    background-color: rgb(12, 10, 10);
}
section#Contact h1 {
    font-size: 60px;
    justify-content: center;
    text-align: center;
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 1;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 20px 8px 60px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 100px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*** Contact form */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;

}

.w {
  
  position: relative;
  margin-top: 6%;
}

.contact-form{
  color: rgb(0, 0, 0);
  max-width: 550px;
  margin: 0 auto;
  background:rgba(0,0,0,0,0);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: var(--shadow);
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}


.input-fields,
.msg{
  width:48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid lightblue;
  padding: 10px;
  color: white;
  width: 100%;
}

.msg textarea {
  height: 212px;
}



 /* Boxes */
.boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}
  
.box {
    margin: 10px 10px;
    background: rgb(7, 5, 5);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.box a {     
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 2em;     
  margin: -2em; 
}

/* social icons */
.social-icons
{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul
{
    padding: initial;
}
.social-icons ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background-color: #000;
}
.social-icons ul li:hover
{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}